@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.top,.footer {
  background-color: #1f2937;
}

#header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header-link, .content-sub, .copyright { 
  font-size: 18px;
  color: #e5e7eb;
}

.navbar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 8px 15%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.navbar-left, .navbar-right{
  display: flex;
  width: 50%;
  align-items: center;
  padding: 10px 0px;
}


.navbar-right {
  justify-content: flex-end;
}

h1{
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.content-sub{
  padding: 10px 0;  
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 15%;
}

.content-left, .content-right{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  max-width: 400px;
}

.content-left{
  flex-wrap: wrap;
 }

img{
  margin: 50px 0;
}